In [3]:
import numpy as np

In [6]:
np.__version__

'1.16.2'

In [7]:
np?

In [9]:
L3 = [True, "2", 3.0, 4]
[type(item) for item in L3]

[bool, str, float, int]

In [10]:
L3

[True, '2', 3.0, 4]

In [11]:
np.array([1, 4, 2, 5, 3])

array([1, 4, 2, 5, 3])

In [12]:
np.array([3.14, 4, 2, 3]) #upcast to match types

array([3.14, 4.  , 2.  , 3.  ])

In [13]:
np.array([1, 2, 3, 4], dtype='float32')

array([1., 2., 3., 4.], dtype=float32)

In [14]:
np.array([range(i, i + 3) for i in [2, 4, 6]])

array([[2, 3, 4],
       [4, 5, 6],
       [6, 7, 8]])

In [15]:
# Create a length-10 integer array filled with zeros
np.zeros(10, dtype=int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [16]:
# Create a 3x5 floating-point array filled with ones
np.ones((3, 5), dtype=float)

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [17]:
# Create a 3x5 array filled with 3.14
np.full((3, 5), 3.14)

array([[3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14]])

In [18]:
# Create an array filled with a linear sequence
# Starting at 0, ending at 20, stepping by 2
# (this is similar to the built-in range() function)
np.arange(0, 20, 2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [19]:
# Create an array of five values evenly spaced between 0 and 1
np.linspace(0, 1, 5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [20]:
# Create a 3x3 array of uniformly distributed
# random values between 0 and 1
np.random.random((3, 3))

array([[0.32294735, 0.33477661, 0.04452406],
       [0.11376085, 0.76216708, 0.01967604],
       [0.5412312 , 0.11487747, 0.03111112]])

In [21]:
# Create a 3x3 array of normally distributed random values
# with mean 0 and standard deviation 1
np.random.normal(0, 1, (3, 3))

array([[ 0.41638068, -0.79184045, -0.92787392],
       [ 0.15244376, -0.68663956,  0.65828757],
       [ 0.9630948 ,  0.16802886,  1.2503806 ]])

In [22]:
# Create an uninitialized array of three integers
# The values will be whatever happens to already exist at that memory location
np.empty(3)

array([7.78460265e-312, 0.00000000e+000, 4.16832970e+199])

In [23]:
# Create a 3x3 identity matrix
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [24]:
np.random.seed(0)  # seed for reproducibility

x1 = np.random.randint(10, size=6)  # One-dimensional array
x2 = np.random.randint(10, size=(3, 4))  # Two-dimensional array
x3 = np.random.randint(10, size=(3, 4, 5))  # Three-dimensional array

In [34]:
x3

array([[[8, 1, 5, 9, 8],
        [9, 4, 3, 0, 3],
        [5, 0, 2, 3, 8],
        [1, 3, 3, 3, 7]],

       [[0, 1, 9, 9, 0],
        [4, 7, 3, 2, 7],
        [2, 0, 0, 4, 5],
        [5, 6, 8, 4, 1]],

       [[4, 9, 8, 1, 1],
        [7, 9, 9, 3, 6],
        [7, 2, 0, 3, 5],
        [9, 4, 4, 6, 4]]])

In [35]:
print("x3 ndim: ", x3.ndim) #num dimensions
print("x3 shape:", x3.shape) #size of each dimension
print("x3 size: ", x3.size) #total size of array

x3 ndim:  3
x3 shape: (3, 4, 5)
x3 size:  60

In [36]:
print("dtype:", x3.dtype)

dtype: int32

In [37]:
x1

array([5, 0, 3, 3, 7, 9])

In [38]:
x1[0]

5

In [39]:
x1[-2]

7

In [40]:
x2

array([[3, 5, 2, 4],
       [7, 6, 8, 8],
       [1, 6, 7, 7]])

In [41]:
x2[2, 0]

1

In [43]:
x2[2, -1]

7

In [44]:
x2[0, 0] = 12
x2

array([[12,  5,  2,  4],
       [ 7,  6,  8,  8],
       [ 1,  6,  7,  7]])

In [45]:
x1[0] = 3.14159  # this will be truncated!
x1

array([3, 0, 3, 3, 7, 9])

In [46]:
#x[start:stop:step]

In [47]:
x = np.arange(10)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [48]:
x[:5]  # first five elements

array([0, 1, 2, 3, 4])

In [49]:
x[4:7]  # middle sub-array

array([4, 5, 6])

In [50]:
x[::2]  # every other element

array([0, 2, 4, 6, 8])

In [51]:
x[1::2]  # every other element, starting at index 1

array([1, 3, 5, 7, 9])

In [52]:
x[::-1]  # all elements, reversed

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

In [53]:
x[5::-2]  # reversed every other from index 5

array([5, 3, 1])

In [54]:
x2

array([[12,  5,  2,  4],
       [ 7,  6,  8,  8],
       [ 1,  6,  7,  7]])

In [56]:
x2[:2, :3]  # two rows, three columns

array([[12,  5,  2],
       [ 7,  6,  8]])

In [57]:
x2[:3, ::2]  # all rows, every other column

array([[12,  2],
       [ 7,  8],
       [ 1,  7]])

In [58]:
x2[::-1, ::-1]

array([[ 7,  7,  6,  1],
       [ 8,  8,  6,  7],
       [ 4,  2,  5, 12]])

In [59]:
print(x2[:, 0])  # first column of x2

[12  7  1]

In [60]:
print(x2[0, :])  # first row of x2

[12  5  2  4]

In [62]:
print(x2[0])

[12  5  2  4]

In [64]:
np.arange(5) / np.arange(1, 6)

array([0.        , 0.5       , 0.66666667, 0.75      , 0.8       ])

In [69]:
x = np.arange(9).reshape((3, 3))
2 ** x

array([[  1,   2,   4],
       [  8,  16,  32],
       [ 64, 128, 256]], dtype=int32)

In [70]:
x = np.arange(4)

In [71]:
print("x     =", x)
print("x + 5 =", x + 5)
print("x - 5 =", x - 5)
print("x * 2 =", x * 2)
print("x / 2 =", x / 2)
print("x // 2 =", x // 2)  # floor division

x     = [0 1 2 3]
x + 5 = [5 6 7 8]
x - 5 = [-5 -4 -3 -2]
x * 2 = [0 2 4 6]
x / 2 = [0.  0.5 1.  1.5]
x // 2 = [0 0 1 1]

In [ ]:
# +	np.add	Addition (e.g., 1 + 1 = 2)
# -	np.subtract	Subtraction (e.g., 3 - 2 = 1)
# -	np.negative	Unary negation (e.g., -2)
# *	np.multiply	Multiplication (e.g., 2 * 3 = 6)
# /	np.divide	Division (e.g., 3 / 2 = 1.5)
# //	np.floor_divide	Floor division (e.g., 3 // 2 = 1)
# **	np.power	Exponentiation (e.g., 2 ** 3 = 8)
# %	np.mod	Modulus/remainder (e.g., 9 % 4 = 1)